

nav{
    background-color: #8bcd92b7;
    padding: 1em;
}
nav ul{
        list-style: none;
        font-size: 22px;
        gap: 1.8em;
        display:flex;
        justify-content: center;
    }
nav ul li{
    color:black
    background-color: blue;
}