body{
background-color: rgb(247, 237, 225);
margin: 1%;
margin-top : 0%;
padding: 0%;
}



nav{
    background-color: #7ab07fb7;
    padding: .7em;
    margin-left: -1%;
    margin-right: -1%;
    border-bottom: white solid 3px;
 
    display:flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
      
  
}



.logo{
    display:flex;
    align-items: center;
    gap: 1.2px;

}

.logo img{
    width: 65px;
    height: 65px;
}
.logo img:hover{
    width: 75px;
    height: 75px;
    transition: .1s;
    filter:drop-shadow(0 0 2.5px rgb(255, 255, 255));
}

.logo p{
    font-style: oblique;
    font: times new roman;
    font-weight: bold;
    font-size: 3.2em;
    color: rgb(255, 255, 255);
   
}   


nav ul{
        list-style: none;
        font-size: 20px;
        gap: 1em;
        display:flex;
        justify-content: right;
    }
nav ul li a{
    text-decoration: none;
    font-size: 1em;
    color:rgb(255, 255, 255);
    background-color: rgb(45, 86, 70);
    padding: 0.7em;
}
nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(45, 86, 70); /* This is the txt color when it does hoverover it */
    transition: .2s;
}

.Hero{
    margin-left: -1%;
    margin-right: -1%;
    background-image: url('assets/the.png');
    background-size: 100%;
    background-repeat: no-repeat;          /* prevents tiling */
    background-position: center;          /* centers the image */
    height: 400px;                           /* or however tall you want */
    display: flex; 
    flex-direction: column;
    justify-content: center;                         /* if you want to center content */
    align-items: center;

    color: rgb(255, 255, 255);  
}
.Hero h1{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top:0em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.Hero h3{
    font-size: 1.2em;
    text-align: center;
    font-size: sans-serif, small;
    margin-bottom: 9em;
    margin-top:0em;
}
.Hero p{
    font-size: 1.2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3em;
    margin-top:0em;
}

