body{
background-color: rgb(248, 232, 212);
margin: 1%;
margin-top : 0%;
padding: 0%;
}



nav{
    background-color: #8bcd92b7;
    padding: 1em;
    margin-left: -1%;
    margin-right: -1%;
    border-bottom: white solid 3px;
 
   display:flex;
    justify-content: space-between;
    align-items: center;
      
  
}
nav p{
    font-style: oblique;
    font: times new roman;
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
   
}
nav ul{
        list-style: none;
        font-size: 22px;
        gap: 1em;
        display:flex;
        justify-content: right;
    }
nav ul li a{
    text-decoration: none;
    font-seize: 1.5em;
    color:rgb(255, 255, 255);
    background-color: rgb(45, 86, 70);
    padding: 0.7em;
}