body{
background-color: rgb(247, 237, 225);
margin: 1%;
margin-top : 0%;
padding: 0%;
}



nav{
    background-color: #7ab07fb7;
    margin-left: -1%;
    margin-right: -1%;
    border-bottom: white solid 3px;
    padding: .7em;
 
    display:flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
      
  
}



.logo{
    display:flex;
    align-items: center;
    gap: 1.2px;

}

.logo img{
    width: 65px;
    height: 65px;
}
.logo img:hover{
    width: 75px;
    height: 75px;
    transition: .1s;
    filter:drop-shadow(0 0 2.5px rgb(255, 255, 255));
}

.logo p{
    font-style: oblique;
    font: times new roman;
    font-weight: bold;
    font-size: 3.2em;
    color: rgb(255, 255, 255);
   
}   


nav ul{
        list-style: none;
        font-size: 20px;
        gap: 1em;
        display:flex;
        justify-content: right;
    }
nav ul li a{
    text-decoration: none;
    font-size: 1em;
    color:rgb(255, 255, 255);
    background-color: rgb(45, 86, 70);
    padding: 0.7em;
}
nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(45, 86, 70); /* This is the txt color when it does hoverover it */
    transition: .2s;
}




/* ---------------------Hero page------------------------ */
.Hero{
    margin-left: -1%;
    margin-right: -1%;
    background-image: url('assets/the.png');
    background-size: 100%;

    background-repeat: no-repeat;          /* prevents tiling */
    background-position: center;          /* centers the image */
    height: 800px;                           /* or however tall you want */
    display: flex; 
    flex-direction: column;
    justify-content: center;                         /* if you want to center content */
    align-items: center;
     border-bottom: white solid 3px;
    color: rgb(255, 255, 255);  
}
.Hero h1{
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: 8em;
    margin-top:0em;
    text-align: center;
    font-weight: bold;
    
}
.Hero h3{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 10em;
    margin-top: -10em;
}
.Hero p{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 8em;
    margin-top:0em;
}
/* ---------------------Hero page------------------------ */


/* ---------------------Section cards----------------------- */

.sideall{

    display:flex;
    flex-wrap :wrap;
    gap: 4em;
    justify-content: center;
}

.cards {
scroll-margin-top: 8rem;
margin: 1.5em;
margin-top: 2em;
width:300px;
height:380px ;
background-color: #7ab07fb7;
border: 5px solid rgb(255, 255, 255);
box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
color : rgb(255, 255, 255);
border-radius: 10px;
padding: 6.3em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
text-align: center;

}

.cards figure {
    display: flex;
    flex-flow:column nowrap;
    align-items:center
   
}

.cards img {
    border: 3px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
}

.cards h2 {
    font-size: 1.7em;
    margin-top:-2.5em;
    color:  rgb(248, 241, 232)
    
}

.cards p {                     /* -----middle sectio----- */
    font-size: 2em;
    margin-top: -1em;
    margin-bottom: -1em;
    font-weight: bold;
 
     /* ----txt color middle----- */
     background: linear-gradient(to left, rgb(67, 74, 93), rgb(148, 127, 102));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    
    
    
   
}

.cards figcaption {
    font-size: 1.2em;
    font-style: bold;
    color:  rgb(254, 252, 250)
    
   
}


/* ---------------------Section cards----------------------- */





/* ---------------------Letters art ect------------------------ */

.Express{
     background-attachment: fixed;
}

.Express h2{
    text-align: center;
    font-size: 3.2em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: #206126b7;
    
}
.Big{
    font-size: 2.3em;
}
.Bold{
    font-weight: bold;
     /* ----txt color middle----- */
     background: linear-gradient(to right, rgb(168, 222, 175), rgb(22, 51, 32));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    border-bottom: solid rgba(72, 158, 63, 0.409)